h1.heading{
    text-align: center;
    font-size: 2rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
div.container{
    text-align: center;
    background-color: aquamarine;
    margin: 1.5rem 0 0 0;
    border:3px solid rebeccapurple;
}
body{
    background-color: yellow;
}
h1#heading1{
    font-weight: 800;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h2#heading2{
    font-weight: 500;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h3#heading3{
    color:red;
    font-weight: 700;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
button#btn1{
    background-color: navy;
    color:white;
    padding: 8px;
    border:2px solid white;
}
button#btn1:hover{
    cursor: pointer;
    background-color: rgb(6, 182, 252);
    transition: all 0.6s ease;
    color:rgb(0, 2, 99);
    border:2px solid rgb(0, 2, 99);
}
@media(min-width:1070px){
    div.container{
        text-align: center;
        background-color: aquamarine;
        margin: 1.5rem 26rem 0 26rem;
        border:3px solid rebeccapurple;
    }
}
