
* {
	margin:0;
	padding:0;
	border:0;
	outline:none;
}

body {
	font-family:"Arial", sans-serif;
	font-size:13px;
	line-height:1.5em;
	color:#fff;
	background:rgb(80,80,80);
}

.clearfix {
	clear:both;
}

#container {
	width:330px;
	min-height:400px;
	background:#333;
	overflow:auto;
	margin:60px auto;
	border:#666 solid 2px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
}

#audio-img {
	position:relative;
	overflow:hidden;
	height:200px;
	margin-bottom:15px;
}

.cover {
	width:100%;
	z-index:1;
}

#audio-info {
	text-align:center;
}

#audio-info .artist {
	font-weight:bold;
}

input#volume {
	width:95%;
	-webkit-appearance: none !important;
	margin-left:2%;
	background:#ccc;
	height:1px;
	margin-bottom:20px;
}

input#volume::-webkit-slider-thumb{
	-webkit-appearance: none !important;
	background:#ccc;
	height:12px;
	width:12px;
}

#audio-buttons {
	width:90%;
	display:block;
	margin:15px auto;
	margin-left:23px;
	overflow:auto;
}

button#play {
	width:70px;
	height:70px;
	background:url(../img/play.png) no-repeat;
	float:left;
}

button#pause {
	width:70px;
	height:70px;
	background:url(../img/pause.png) no-repeat;
	float:left;
}

button#stop {
	width:70px;
	height:70px;
	background:url(../img/stop.png) no-repeat;
	float:left;
}

button#prev {
	width:70px;
	height:70px;
	background:url(../img/prev.png) no-repeat;
	float:left;
	/*margin-top:15px;*/
}

button#next {
	width:70px;
	height:70px;
	background:url(../img/next.png) no-repeat;
	float:right;
	/*margin-top:15px;*/
}
#playlist {
	list-style:none;
	padding:10px;
}

#playlist li {
	cursor:pointer;
	margin:5px;
}

#playlist li.active {
	font-weight:bold;
	padding:3px;
	background:#666;
}

#progressbar {
	width:80%;
	margin-left:2%;
	margin-bottom:20px;
	margin-top:9px;
	height:10px;
	background:url(../img/progress_bg.png) no-repeat;
	float:left;
}

#progress {
	height:10px;
	display:inline-block;
	background:url(../img/progress.png) no-repeat;
	position:absolute;
	top:9px;
	left:8px;
}

#duration {
	position:absolute;
	top:0;
	right:10px;
	padding:4px 8px;
	background:#000;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
}

#tracker {
	position:relative;
	width:100%;
}