.calculator
{
    height: 600px;
    width: 400px;
    background: grey;
    margin-left: 400px;
}

#screen
{
    width: 80%;
    margin-left: 40px;
    margin-top: 40px;
    height: 40px;
    pointer-events: none;
}

.button 
{
    margin-left: 21px;
    width: 61px;
    height: 39px;
    margin-top: 30px;
    background: bisque;
}


.row
{
    margin-left: 21px;
    margin-top: 10px;
}

