body{
    margin: 0;
    padding: 0;
    background-color: rgb(7, 2, 7);
    font-family: cursive;
}
.box{
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: rgb(6, 27, 11);
    text-align: center;
}
.box h1{
    color: thistle;
    font-weight: 500;
}
.box input[type = "text"],.box input[type = "password"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid turquoise;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: whitesmoke;
    border-radius: 35px;
    transition: 0.25s;
}
.box input[type = "text"]:focus,.box input[type = "password"]:focus{
    width: 280px;
    border-color: green;
}
.box input[type="submit"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid green;
    padding: 14px 40px;
    outline: none;
    color: whitesmoke;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
 
}
.box input[type="submit"]:hover{
    background: green;
}