body {
    background: black;
}

.clock {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #fe17f2;
    font-size: 100px;
    font-weight: bolder;
    font-family: Orbitron;
    letter-spacing: 7px;
   


}