:root {
    --color-mode: 'light';
    --light-col-strong:#11263C;
    --light-col-faded:#D0D1D2;
    --light-purple:#422F8A;
    --light-purple-hover:#e3def733;
    --light-background-pri:#FFFFFF;
    --light-background-sec:#F2F2F7;
    --light-background-ter:#F8F9FE;
    --light-br-l:rgba(238, 236, 250, 0.503);
    --light-br-d:#F9F9F9;
    --light-icon-filter:0;
    
    --dark-col-strong:#FFFFFF;
    --dark-col-faded:#EBEBF5;
    --dark-purple:#5E5CE6;
    --dark-purple-hover:#cac9e533;
    --dark-background-pri:#2C2C2E;
    --dark-background-sec:#1C1C1E;
    --dark-background-ter:#3A3A3C;
    --dark-br-l:#37373dc7;
    --dark-br-d:#2c2c31;
    --dark-icon-filter:100;

    
    --back: var(--light-background-sec);
    --section-back: var(--light-background-pri);
    --div-back: var(--light-background-ter);
    --text-dark: var(--light-col-strong);
    --text-faded: var(--light-col-faded);
    --purple: var(--light-purple);
    --hover: var(--light-purple-hover);
    --br-lig:var(--light-br-l);
    --br-dar:var(--light-br-d);
    --filter-amt:var(--light-icon-filter);
}
  
@media (prefers-color-scheme: dark) {
    :root {
      --color-mode: 'dark';
    }
  
    :root:not([data-user-color-scheme]) {
        --back: var(--dark-background-sec);
        --section-back: var(--dark-background-pri);
        --div-back: var(--dark-background-ter);
        --text-dark: var(--dark-col-strong);
        --text-faded: var(--dark-col-faded);
        --purple: var(--dark-purple);
        --hover: var(--dark-purple-hover);
        --br-lig:var(--dark-br-l);
        --br-dar:var(--dark-br-d);
        --filter-amt:var(--dark-icon-filter);
    }
  }
  
[data-user-color-scheme='dark'] {
--back: var(--dark-background-sec);
--section-back: var(--dark-background-pri);
--div-back: var(--dark-background-ter);
--text-dark: var(--dark-col-strong);
--text-faded: var(--dark-col-faded);
--purple: var(--dark-purple);
--hover: var(--dark-purple-hover);
--br-lig:var(--dark-br-l);
--br-dar:var(--dark-br-d);
--filter-amt:var(--dark-icon-filter);
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    outline:none;
    font-family:"Montserrat";
    color: var(--text-faded);
}
body{
    min-height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: grid;
    grid-template:10vh calc(80vh - 4px) 10vh / 6vw calc(72vw - 4px) 22vw ;
    gap:2px;
    background:var(--back);
    transition: background 0.5s ease-in-out, color 0.3s ease;
}

.side_menu_check{
    position: fixed;
    top:2vh;
    left:1.5vw;
    cursor: pointer; 
    height:3vw;
    width:3vw;
    z-index:99;
    opacity: 0;
    outline:none;
}
.side_menu_check:checked{
    left:6vw;
}
.side_menu_check:checked ~.side_menu_control{
    left:6vw;
    .stack_menu{
        .stack_menu_icon{
            p{
                background:var(--purple);
            }
            .top_line{
                top:8px;
                transform:rotate(45deg);
            }
            .mid_line{
                top:8px;
                transform:scaleX(0);
            }
            .bot_line{
                top:8px;
                transform:rotate(135deg);
            }
        }
    }
}
.side_menu_check:checked ~ #side_menu{
    display:block;
    width: 15vw;
    box-shadow:2px 0 10px 0 #1811334f;
    .break{
        p{
            width:6vw;
        }
    }
    .side_menu_buttons{
        width:76%;
        left:12%;
        label{
            input{
                width:90%;
            }
            span{
                grid-template-columns: 4.2vw auto;
                p{
                    display:block;
                    text-align:left;
                }
            }
        }
    }
}
.side_menu_control{
    position:fixed;
    top:2vh;
    left:1.5vw;
    z-index:95;
    display:grid;
    place-items: center;
    height:3vw;
    width:3vw;
    .stack_menu{
        height:10vh;
        width:3vw;
        position: absolute;
        display:flex;
        align-items:center;
        justify-content:center;
        .stack_menu_icon{
            width:2vw;
            height:4vw;
            position: relative;
            top:3vh;
            p{
                position: absolute;
                height:2px;
                width:2vw;
                background:var(--text-faded);
                border-radius: 10px;
                transform-origin: 50% 50%;
                transform: rotate(0deg) scaleX(1);
                transition:all 0.3s ease-out;
            }
            .top_line{
                top:0;
            }
            .mid_line{
                top:8px;
            }
            .bot_line{
                top:16px;
            }
        }
    }
}

#side_menu{
    grid-row: 1/4;
    grid-column: 1/2;
    background:var(--section-back);
    position: sticky;
    z-index:50;
    transition:all 0.5s ease-in-out;

    .break{
        position: absolute;
        height:2px;
        width:100%;
        display:flex;
        justify-content:center;
        top:10vh;
        p{
            height:100%;
            width:3vw;
            background: linear-gradient(90deg, var(--br-lig) 0%, 
                                               var(--br-dar)51.44%, 
                                               var(--br-lig) 100%);
            border-radius: 18px;
        }
    }
    .side_menu_buttons{
        position: absolute;
        width:60%;
        padding:0.1vw;
        display:flex;
        flex-direction:column;
        align-items:center;
        justify-content:center; 
        background:var(--div-back);
        border-radius: 15px;
        top:25vh;
        left:20%;
        overflow:hidden;
        label{
            user-select: none;
            width:100%;
            height:3.2vw;
            display:flex;
            align-items:center;
            justify-content:center;
            transition:all 0.3s ease-in-out;
            input{
                position: absolute;
                cursor: pointer; 
                height:3vw;
                width:3vw;
                z-index:2;
                opacity: 0; 
                outline:none;
            }
            span{
                z-index: 1;
                height:100%;
                width:100%;
                display:grid;
                place-items:center;
                transition:all 0.2s ease-in-out;
                svg{
                    pointer-events:none;
                    height:auto;
                    width: 1.2vw;
                    transition:all 0.2s ease-in-out;
                    *{
                        transition:all 0.2s ease-in-out;
                    }
                }
                p{
                    color: var(--text-faded);
                    font-size: 2vh;
                    grid-column:2/3 ;
                    display:none;
                    width:100%;
                }
            }
            input:checked ~span{
                background: var(--section-back);
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.08), 0px 4px 8px rgba(50, 50, 71, 0.006);
                border-radius: 15px;
                border: 1px solid var(--div-back);
                p{
                    color:var(--purple);
                    font-weight: 500;
                }
                svg{
                    *{
                        stroke:var(--purple);
                    }
                    circle{
                        fill:var(--purple);
                        stroke:none;
                    }
                }
            }
        }
        label:hover{
            cursor: pointer;
            background:var(--hover);
        }
    }
    .br_bot{
        top:initial;
        bottom:25vh;
    }
    .logo{
        position: absolute;
        width:100%;
        height:6vw;
        overflow:hidden;
        display:grid;
        place-items: center;
        bottom:6vh;
        img{
            height:4vw;
            width:4vw;
        }
        p{
            font-size:1.5vh;
            color: #FF7D47;
            font-weight: 600;
            cursor: default;
        }
    }
}

.login-reg{
    border:none;
    cursor: pointer;
    border-radius: 10px;
    padding: 2vh;
    background:var(--purple);
    p{
        color:var(--text-faded);
        line-height:2.4vh;
        font-size: 2.4vh;
        font-weight:500;
    }
}

#nav_menu {
    grid-row: 1/2;
    grid-column: 2/4;
    background:var(--section-back);
    position: relative;
    z-index: 1;
    border-radius:0 0 0 10px;
    display:flex;

    .selected_menu_cont{
        height:100%;
        width:10vw;
        display:grid;
        place-items: center left;
        padding: 0 0 0 2vw;
        position: relative;
        #selected_menu{
            position:relative;
            // text-transform: uppercase;
            font-size: 3vh;
            font-weight: 600;
            color: var(--text-dark);
            &::after{
                content:'';
                position: absolute;
                height:2px;
                width:50%;
                bottom:-20px;
                left:24%;
                background:var(--purple);
                border-radius:10px;
            }
        }
    }

    .log{
        height:100%;
        width:12vw;
        display:grid;
        place-items: center;
        margin-left:auto;
        margin-right:4vw;
    }

    .theme_cont{
        position: relative;
        top:0;
        margin-left:1vw;
        margin-right:1vw;
        height: 100%;
        width:10vh;
        display:grid;
        place-items: center;
        .theme{ 
            position: relative;
            height:1.3vw;
            width:1.3vw;
            span,input{
                position: absolute;
            }
            input{
                height:1.3vw;
                width:1.3vw;
                z-index:2;
                cursor: pointer;
                opacity: 0;
            }
            span{
                svg{
                    pointer-events:none;
                    height:auto;
                    width: 1.2vw;
                    transition:all 0.3s ease-in-out;
                    *{
                        transition:all 0.3s ease-in-out;
                    }
                }
                &.to_light{
                    top:-0.4vw;
                    left: -0.4vw;
                    svg{
                        width:2vw;
                    }
                }
            }
        }
    }
}

.menu_sec{
    grid-row: 2/4;
    grid-column: 2/4;
    background:var(--section-back);   
    border-radius:10px 0 0 0; 
    z-index: -1;
}

#dashboard{
    display:grid;
    grid-template:1fr 2fr / 1fr 1fr 1fr;
    gap:1vh;
    padding:2vh;
    place-items: center;
    z-index:0;
    .dash_card{
        background: var(--section-back);
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.08), 6px 4px 4px rgba(50, 50, 71, 0.006);
        border: 2px solid var(--div-back);
        height: 25vh;
        width: 28.5vw;
        border-radius:5px;
        overflow: hidden;
        position: relative;
        img{
            position: absolute;
            height:80%;
            left:-12%;
            transform:translateY(15%);
        }
        .dash_card_text{
            height:100%;
            width:75%;
            display:grid;
            grid-template:1fr 1fr/1fr 1fr;
            position:absolute;
            right:0;
            place-items:center left;
            p{
                color: var(--text-dark);
            }
            .heading{
                grid-row: 1/2;
                grid-column: 1/3;
                align-self: end;
                .title{
                    font-size:3vh;
                    font-weight:600;
                }
                .value{
                    padding-left:0.8vh;
                    font-size:2.2vh;
                    font-weight:500;
                }
            }
            .subheading{
                padding-left:1vh;
                .sub_title{
                    font-size:2vh;
                    font-weight:500;
                }
                .sub_value{
                    padding-left:0.8vh;
                    font-size:1vh;
                    font-weight:400;
                }
            }
            .today_count{
                position:absolute;
                right:2vh;
                top:2vh;
                font-size:2.2vh;
                color:var(--purple);
                font-weight:500;
            }
        }
    }

    .dash_chart{
        padding: 5vh;
        grid-row: 2/3;
        grid-column:1/4;
        height:96%;
        width: 98%;
        position: relative;
        background: var(--section-back);
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.08), 6px 4px 4px rgba(50, 50, 71, 0.006);
        border: 2px solid var(--div-back);
        border-radius:5px;
        overflow-x: auto;
        overflow-y: hidden;
        &::-webkit-scrollbar{
            display:none;
        }
        .dash_cont{
            height:260px;
            width:1170px;
            .chart_title{
                position:absolute;
                top:2.4vh;
                left:3vh;
                font-size:3vh;
                font-weight:500;
                color: var(--purple);
            }
            .graph-legends{
                display: grid;
                position:absolute;
                height:275px;
                width:1170px;
                grid-template: repeat(11,1fr) / repeat(30,1fr);
                place-items:end left;
                .y-ax{
                    font-size: 1vh;
                    color:var(--text-dark); 
                    position: absolute;
                    left:-1vh;
                    text-align: right;
                }
                .y-ax::after{
                    content: '';
                    height:1px;
                    width:1135px;
                    background:var(--text-faded);
                    position: absolute;
                    bottom:0.5vh;
                    left:5vh;
                }

                @for $i from 1 through 11{
                    .y-ax-#{$i}{
                        grid-column: 1/2;
                        grid-row-start: $i;
                        grid-row-end: $i+1;
                    }
                }
                .x-ax{
                    font-size: 1vh;
                    color:var(--text-dark); 
                    position: absolute;
                    bottom:-2vh;
                    place-self:end right;
                }
                @for $i from 1 through 30{
                    .x-ax-#{$i}{
                        grid-row: 11/12;
                        grid-column-start: $i;
                        grid-column-end: $i+1;
                    }
                }

                .dp{
                    place-self:end right;
                    position:absolute;
                    margin-right: 1vh;
                    height: 5px;
                    width: 5px;
                    border-radius: 50%;
                    cursor: pointer;
                    z-index:1;
                }
                .dp::after{
                    padding:0.2vh 1vh;
                    background:rgba(0,0,0,0.5);
                    opacity: 0.5;
                    border-radius:4px;
                    position: absolute;
                    bottom:-5px;
                    left:-40px;
                    color:var(--text-dark);
                    display:none;
                    opacity: 0;
                    transition:all 0.5s ease-in-out;
                    z-index:5;
                }
                .dp:hover{
                    &::after{
                        display:block;
                        opacity: 1;
                        bottom: 10px;
                    }
                }
                .dp-dose1{
                    background:#FF7D47;
                }
                .dp-dose2{
                    background:#FFEF4A;
                }
                .dp-tot{
                    background:#B10F61;
                }

                @for $i from 1 through 30{
                    .dp-dose1-#{$i},.dp-dose2-#{$i},.dp-tot-#{$i}{
                        grid-column-start: $i;
                        grid-column-end: $i+1;
                    }
                }

                .dp-dose1-1{
                    grid-row: 8/9;
                    bottom:0.15vh;
                    &::after{
                        content:'30,16,465';
                    }
                }
                .dp-dose1-2{
                    grid-row: 8/9;
                    bottom:0.3vh;
                    &::after{
                        content:'31,98,442';
                    }
                }
                .dp-dose1-3{
                    grid-row: 8/9;
                    bottom:0.2vh;
                    &::after{
                        content:'31,52,480';
                    }
                }
                .dp-dose1-4{
                    grid-row: 10/11;
                    bottom:1.8vh;
                    &::after{
                        content:'14,56,667';
                    }
                }
                .dp-dose1-5{
                    grid-row: 8/9;
                    bottom:1.8vh;
                    &::after{
                        content:'35,14,717';
                    }
                }
                .dp-dose1-6{
                    grid-row: 9/10;
                    bottom:1.6vh;
                    &::after{
                        content:'24,18,885';
                    }
                }
                .dp-dose1-7{
                    grid-row: 8/9;
                    bottom:1vh;
                    &::after{
                        content:'31,66,033';
                    }
                }
                .dp-dose1-8{
                    grid-row: 9/10;
                    bottom:3vh;
                    &::after{
                        content:'28,59,382';
                    }
                }
                .dp-dose1-9{
                    grid-row: 9/10;
                    bottom:3.05vh;
                    &::after{
                        content:'29,21,309';
                    }
                }
                .dp-dose1-10{
                    grid-row: 8/9;
                    bottom:1.4vh;
                    &::after{
                        content:'32,77,758';
                    }
                }
                .dp-dose1-11{
                    grid-row:9/10;
                    bottom:2.6vh;
                    &::after{
                        content:'27,64,549';
                    }
                }
                .dp-dose1-12{
                    grid-row:3/4;
                    bottom:1.4vh;
                    &::after{
                        content:'83,39,350';
                    }
                }
                .dp-dose1-13{
                    grid-row:7/8;
                    bottom:3.2vh;
                    &::after{
                        content:'49,85,615';
                    }
                }
                .dp-dose1-14{
                    grid-row: 5/6;
                    bottom:1vh;
                    &::after{
                        content:'61,24,310';
                    }
                }
                .dp-dose1-15{
                    grid-row: 6/7;
                    bottom:2.3vh;
                    &::after{
                        content:'54,98,716';
                    }
                }
                .dp-dose1-16{
                    grid-row: 6/7;
                    bottom:2.32vh;
                    &::after{
                        content:'54,51,060';
                    }
                }
                .dp-dose1-17{
                    grid-row: 6/7;
                    bottom:2.4vh;
                    &::after{
                        content:'54,92,627';
                    }
                }
                .dp-dose1-18{
                    grid-row: 10/11;
                    bottom:2.32vh;
                    &::after{
                        content:'14,71,986';
                    }
                }
                .dp-dose1-19{
                    grid-row: 7/8;
                    bottom:1.7vh;
                    &::after{
                        content:'42,80,069';
                    }
                }
                .dp-dose1-20{
                    grid-row: 9/10;
                    bottom:3.4vh;
                    &::after{
                        content:'28,33,820';
                    }
                }
                .dp-dose1-21{
                    grid-row: 9/10;
                    bottom:0.15vh;
                    &::after{
                        content:'20,85,100';
                    }
                }
                .dp-dose1-22{
                    grid-row: 8/9;
                    bottom:2.3vh;
                    &::after{
                        content:'34,01,625';
                    }
                }
                .dp-dose1-23{
                    grid-row: 8/9;
                    bottom:2.32vh;
                    &::after{
                        content:'34,17,778';
                    }
                }
                .dp-dose1-24{
                    grid-row: 7/8;
                    bottom:1.8vh;
                    &::after{
                        content:'43,77,760';
                    }
                }
                .dp-dose1-25{
                    grid-row: 10/11;
                    bottom:1vh;
                    &::after{
                        content:'11,01,349';
                    }
                }
                .dp-dose1-26{
                    grid-row: 9/10;
                    bottom:3vh;
                    &::after{
                        content:'28,29,321';
                    }
                }
                .dp-dose1-27{
                    grid-row: 9/10;
                    bottom:2.4vh;
                    &::after{
                        content:'25,00,434';
                    }
                }
                .dp-dose1-28{
                    grid-row: 9/10;
                    bottom:0.6vh;
                    &::after{
                        content:'20,97,597';
                    }
                }
                .dp-dose1-29{
                    grid-row: 9/10;
                    bottom:3vh;
                    &::after{
                        content:'28,14,550';
                    }
                }
                .dp-dose1-30{
                    grid-row: 10/11;
                    bottom:3.8vh;
                    &::after{
                        content:'19,43,938';
                    }
                }
                .dp-dose2-1{
                    grid-row: 11/12;
                    bottom:1.8vh;
                    &::after{
                        content:'3,29,576';
                    }
                }
                .dp-dose2-2{
                    grid-row: 11/12;
                    bottom:1.85vh;
                    &::after{
                        content:'3,35,441';
                    }
                }
                .dp-dose2-3{
                    grid-row: 11/12;
                    bottom:1.95vh;
                    &::after{
                        content:'3,89,670';
                    }
                }
                .dp-dose2-4{
                    grid-row: 11/12;
                    bottom:0.4vh;
                    &::after{
                        content:'1,21,360';
                    }
                }
                .dp-dose2-5{
                    grid-row: 11/12;
                    bottom:2.4vh;
                    &::after{
                        content:'4,37,103';
                    }
                }
                .dp-dose2-6{
                    grid-row: 11/12;
                    bottom:2.1vh;
                    &::after{
                        content:'4,08,781';
                    }
                }
                .dp-dose2-7{
                    grid-row: 11/12;
                    bottom:1.95vh;
                    &::after{
                        content:'3,84,847';
                    }
                }
                .dp-dose2-8{
                    grid-row: 11/12;
                    bottom:2.05vh;
                    &::after{
                        content:'4,18,877';
                    }
                }
                .dp-dose2-9{
                    grid-row: 11/12;
                    bottom:2vh;
                    &::after{
                        content:'4,02,040';
                    }
                }
                .dp-dose2-10{
                    grid-row:11/12;
                    bottom:2.7vh;
                    &::after{
                        content:'5,18,437';
                    }
                }
                .dp-dose2-11{
                    grid-row:11/12;
                    bottom:1.2vh;
                    &::after{
                        content:'2,90,130';
                    }
                }
                .dp-dose2-12{
                    grid-row:11/12;
                    bottom:3.8vh;
                    &::after{
                        content:'8,35,571';
                    }
                }
                .dp-dose2-13{
                    grid-row: 11/12;
                    bottom:3vh;
                    &::after{
                        content:'6,54,244';
                    }
                }
                .dp-dose2-14{
                    grid-row:11/12;
                    bottom:3.05vh;
                    &::after{
                        content:'6,76,817';
                    }
                }
                .dp-dose2-15{
                    grid-row:11/12;
                    bottom:3.8vh;
                    &::after{
                        content:'8,19,922';
                    }
                }
                .dp-dose2-16{
                    grid-row: 11/12;
                    bottom:4vh;
                    &::after{
                        content:'9,66,475';
                    }
                }
                .dp-dose2-17{
                    grid-row:10/11;
                    bottom:0.2vh;
                    &::after{
                        content:'11,37,179';
                    }
                }
                .dp-dose2-18{
                    grid-row: 11/12;
                    bottom:1.9vh;
                    &::after{
                        content:'3,44,859';
                    }
                }
                .dp-dose2-19{
                    grid-row: 10/11;
                    bottom:0.25vh;
                    &::after{
                        content:'11,85,762';
                    }
                }
                .dp-dose2-20{
                    grid-row:11/12;
                    bottom:3.8vh;
                    &::after{
                        content:'9,28,115';
                    }
                }
                .dp-dose2-21{
                    grid-row:11/12;
                    bottom:2.9vh;
                    &::after{
                        content:'7,75,534';
                    }
                }
                .dp-dose2-22{
                    grid-row: 10/11;
                    bottom:0vh;
                    &::after{
                        content:'10,08,473';
                    }
                }
                .dp-dose2-23{
                    grid-row:10/11;
                    bottom:1.2vh;
                    &::after{
                        content:'12,68,951';
                    }
                }
                .dp-dose2-24{
                    grid-row: 9/10;
                    bottom:1.2vh;
                    &::after{
                        content:'22,16,979';
                    }
                }
                .dp-dose2-25{
                    grid-row:11/12;
                    bottom:2.6vh;
                    &::after{
                        content:'4,64,589';
                    }
                }
                .dp-dose2-26{
                    grid-row:10/11;
                    bottom:3.8vh;
                    &::after{
                        content:'18,04,072';
                    }
                }
                .dp-dose2-27{
                    grid-row:10/11;
                    bottom:1.2vh;
                    &::after{
                        content:'12,20,846';
                    }
                }
                .dp-dose2-28{
                    grid-row: 10/11;
                    bottom:2.1vh;
                    &::after{
                        content:'13,16,705';
                    }
                }
                .dp-dose2-29{
                    grid-row: 10/11;
                    bottom:2.2vh;
                    &::after{
                        content:'13,55,567';
                    }
                }
                .dp-dose2-30{
                    grid-row: 10/11;
                    bottom:1.02vh;
                    &::after{
                        content:'11,03,131';
                    }
                }
                .dp-tot-1{
                    grid-row:8/9;
                    bottom:2.8vh;
                    &::after{
                        content:'33,46,041';
                    }
                }
                .dp-tot-2{
                    grid-row:8/9;
                    bottom:2.8vh;
                    &::after{
                        content:'35,33,883';
                    }
                }
                .dp-tot-3{
                    grid-row:8/9;
                    bottom:2.85vh;
                    &::after{
                        content:'35,42,150';
                    }
                }
                .dp-tot-4{
                    grid-row:10/11;
                    bottom:2.85vh;
                    &::after{
                        content:'15,78,027';
                    }
                }
                .dp-tot-5{
                    grid-row:8/9;
                    bottom:3.85vh;
                    &::after{
                        content:'39,51,820';
                    }
                }
                .dp-tot-6{
                    grid-row: 9/10;
                    bottom:3.6vh;
                    &::after{
                        content:'28,27,666';
                    }
                }
                .dp-tot-7{
                    grid-row: 8/9;
                    bottom:2.8vh;
                    &::after{
                        content:'35,50,880';
                    }
                }
                .dp-tot-8{
                    grid-row: 8/9;
                    bottom:2.6vh;
                    &::after{
                        content:'32,78,259';
                    }
                }
                .dp-tot-9{
                    grid-row: 8/9;
                    bottom:2.7vh;
                    &::after{
                        content:'33,23,349';
                    }
                }
                .dp-tot-10{
                    grid-row: 8/9;
                    bottom:3.05vh;
                    &::after{
                        content:'37,96,195';
                    }
                }
                .dp-tot-11{
                    grid-row: 8/9;
                    bottom:0.2vh;
                    &::after{
                        content:'30,54,679';
                    }
                }
                .dp-tot-12{
                    grid-row:2/3;
                    bottom:1vh;
                    &::after{
                        content:'91,74,921';
                    }
                }
                .dp-tot-13{
                    grid-row: 6/7;
                    bottom:2.8vh;
                    &::after{
                        content:'56,39,859';
                    }
                }
                .dp-tot-14{
                    grid-row: 5/6;
                    bottom:3.5vh;
                    &::after{
                        content:'68,01,127';
                    }
                }
                .dp-tot-15{
                    grid-row: 5/6;
                    bottom:2.1vh;
                    &::after{
                        content:'63,18,638';
                    }
                }
                .dp-tot-16{
                    grid-row:5/6;
                    bottom:3.05vh;
                    &::after{
                        content:'64,17,535';
                    }
                }
                .dp-tot-17{
                    grid-row:5/6;
                    bottom:3.1vh;
                    &::after{
                        content:'66,29,806';
                    }
                }
                .dp-tot-18{
                    grid-row: 10/11;
                    bottom:3.5vh;
                    &::after{
                        content:'18,16,845';
                    }
                }
                .dp-tot-19{
                    grid-row:6/7;
                    bottom:2.4vh;
                    &::after{
                        content:'54,65,831';
                    }
                }
                .dp-tot-20{
                    grid-row:8/9;
                    bottom:3vh;
                    &::after{
                        content:'37,61,935';
                    }
                }
                .dp-tot-21{
                    grid-row:9/10;
                    bottom:3.5vh;
                    &::after{
                        content:'28,60,634';
                    }
                }
                .dp-tot-22{
                    grid-row:7/8;
                    bottom:2.4vh;
                    &::after{
                        content:'44,10,098';
                    }
                }
                .dp-tot-23{
                    grid-row: 7/8;
                    bottom:2.5vh;
                    &::after{
                        content:'46,86,729';
                    }
                }
                .dp-tot-24{
                    grid-row:5/6;
                    bottom:2.6vh;
                    &::after{
                        content:'65,94,739';
                    }
                }
                .dp-tot-25{
                    grid-row:10/11;
                    bottom:2.6vh;
                    &::after{
                        content:'15,65,938';
                    }
                }
                .dp-tot-26{
                    grid-row:7/8;
                    bottom:2.8vh;
                    &::after{
                        content:'46,33,393';
                    }
                }
                .dp-tot-27{
                    grid-row:8/9;
                    bottom:3vh;
                    &::after{
                        content:'37,21,280';
                    }
                }
                .dp-tot-28{
                    grid-row:8/9;
                    bottom:2.95vh;
                    &::after{
                        content:'34,14,302';
                    }
                }
                .dp-tot-29{
                    grid-row:7/8;
                    bottom:1.1vh;
                    &::after{
                        content:'41,70,117';
                    }
                }
                .dp-tot-30{
                    grid-row:8/9;
                    bottom:0.6vh;
                    &::after{
                        content:'30,47,069';
                    }
                }
                
                .legends{
                    p{
                        z-index: 1;
                        font-size: 2vh;
                        position: absolute;
                        right:15px;
                        color:var(--text-dark);
                        background:var(--section-back);
                    }
                    p::after{
                        content: '';
                        position: absolute;
                        height:3px; 
                        width:25px;
                        border-radius:10px;
                        top:6px;
                        right:100px;
                    }
                    .d-1-leg{
                        top:22px;
                        &::after{
                            background:#FF7D47;
                        }
                    }
                    .d-2-leg{
                        top:39px;
                        &::after{
                            background:#FFEF4A;
                        }
                    }
                    .tot-leg{
                        top:54px;
                        &::after{
                            background:#B10F61;
                        }
                    }
                }

            }
            .gr{
                height:275px;
                width:1170px;
                position:absolute;
                top:34px;
                svg{
                    polyline{
                        fill:none;
                        stroke-width:2px;
                    }
                }
            }
            .gr-dose-1{
                svg{
                    polyline{
                        stroke:#FF7D47;
                    }
                }
            }
            .gr-dose-2{
                svg{
                    polyline{
                        stroke:#FFEF4A;
                    }
                }
            }
            .gr-tot{
                svg{
                    polyline{
                        stroke:#B10F61;
                    }
                }
            }

        }
    }
    .extra{
        height:0;
        width:0;
        bottom:0;
    }
}


#account,#downloads,#alerts{
    .logged_out{
        display:grid;
        padding:2vh;
        place-items: center;
        height:100%;
        width:100%;
        position: relative;
        .pls_log_in{
            display:flex;
            flex-direction:column;
            align-items:center;
            gap:6vh;
            .lock_cont{
                height:8vw;
                width:8vw;
                background:var(--div-back);
                border-radius:50%;
                display:grid;
                place-items: center;
                svg{
                    height:auto;
                    width: 4vw;
                    path{
                        stroke: var(--text-dark);
                    }
                }
            }
            .pls_log_in_txt{
                font-size: 3vh;
                font-weight:500;
                color: var(--text-dark);
            }
        }
    }

}

#about{
    display:grid;
    gap:1vh;
    padding:2vh;
    place-items: center;
    position: relative;
    .about-cont{
        width:35vw;
        display:flex;
        flex-direction: column;
        align-items: center;
        gap:8vh;
        img{
            width:40%;
        }
        .title{
            font-size:4vh;
            font-weight:500;
        }
        p{
            color:var(--text-dark);
            text-align: center;
        }
    } 
}

#login_page{
    position:absolute;
    height:100%;
    width:100%;
    display: grid;
    place-items: center;
    background: linear-gradient(45deg, rgba(255,255,255,0.4) 0%,rgba(255,255,255,0.1) 100%);
    backdrop-filter: blur(5px);
    z-index: -1;
    display:none;
    .cross_cont{
        height: 50px;
        width:100%;
        cursor:pointer;
        position:relative;
        .cross_box{
            position:absolute;
            right:-1vw;
            height:100%;
            width:2vw;
            svg{
                path{
                    stroke:var(--text-dark);
                }
            }
        }

    }
    .wrapper{
        overflow: hidden;
        max-width: 390px;
        background: var(--section-back);
        border:1px solid var(--div-back);
        padding: 30px;
        border-radius: 5px;
        box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
      }
      .wrapper .title-text{
        display: flex;
        width: 200%;
        color: var(--text-dark);
      }
      .wrapper .title{
        width: 50%;
        font-size: 5vh;
        font-weight: 600;
        text-align: center;
        transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
      }
      .wrapper .slide-controls{
        position: relative;
        display: flex;
        height: 50px;
        width: 100%;
        overflow: hidden;
        margin: 30px 0 10px 0;
        justify-content: space-between;
        border: 1px solid var(--div-back);
        border-radius: 5px;
      }
      .slide-controls .slide{
        height: 100%;
        width: 100%;
        color: var(--text-dark);
        font-size: 18px;
        font-weight: 500;
        text-align: center;
        line-height: 48px;
        cursor: pointer;
        z-index: 1;
        transition: all 0.6s ease;
      }
      .slide-controls label.signup{
        color: var(--text-faded);
      }
      .slide-controls .slider-tab{
        position: absolute;
        height: 100%;
        width: 50%;
        left: 0;
        z-index: 0;
        border-radius: 5px;
        background: var(--purple);
        transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
      }
      input[type="radio"]{
        display: none;
      }
      #signup:checked ~ .slider-tab{
        left: 50%;
      }
      #signup:checked ~ label.signup{
        color: var(--text-dark);
        cursor: default;
        user-select: none;
      }
      #signup:checked ~ label.login{
        color: var(--text-dark);
      }
      #login:checked ~ label.signup{
        color: var(--text-dark);
      }
      #login:checked ~ label.login{
        cursor: default;
        user-select: none;
      }
      .wrapper .form-container{
        width: 100%;
        overflow: hidden;
      }
      .form-container .form-inner{
        display: flex;
        width: 200%;
      }
      .form-container .form-inner form{
        width: 50%;
        transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
      }
      .form-inner form .field{
        height: 50px;
        width: 100%;
        margin-top: 20px;
      }
      .form-inner form .field input{
        height: 100%;
        width: 100%;
        outline: none;
        padding-left: 15px;
        border-radius: 5px;
        border: 1px solid var(--div-back);
        border-bottom-width: 2px;
        font-size: 17px;
        color:#666666;
        transition: all 0.3s ease;
      }
      .form-inner form .field input:focus{
        border-color: var(--purple);
      }
      .form-inner form .field input::placeholder{
        color: #c3c3c3;
        transition: all 0.3s ease;
      }
      form .field input:focus::placeholder{
        color: #c3c3c3;
      }
      .form-inner form .pass-link{
        margin-top: 5px;
      }
      .form-inner form .signup-link{
        text-align: center;
        margin-top: 30px;
      }
      .form-inner form .pass-link a,
      .form-inner form .signup-link a{
        color: var(--purple);
        text-decoration: none;
      }
      .form-inner form .pass-link a:hover,
      .form-inner form .signup-link a:hover{
        text-decoration: underline;
      }
      form .btn{
        height: 50px;
        width: 100%;
        border-radius: 5px;
        position: relative;
        overflow: hidden;
      }
      form .btn .btn-layer{
        height: 100%;
        width: 300%;
        position: absolute;
        left: -100%;
        background: var(--purple);
        border-radius: 5px;
        transition: all 0.4s ease;;
      }
      form .btn:hover .btn-layer{
        left: 0;
      }
      form .btn input[type="submit"]{
        height: 100%;
        width: 100%;
        z-index: 1;
        position: relative;
        background: none;
        border: none;
        color: #fff;
        padding-left: 0;
        border-radius: 5px;
        font-size: 20px;
        font-weight: 500;
        cursor: pointer;
      }
}

@media (max-width:1000px){
    body{
        grid-template:10vh calc(90vh - 2px)/calc(100vw - 4px);
        min-height: 100vh; 
        padding-left:2px;
    }
    body::-webkit-scrollbar{
        display:none;
    }
    .menu_sec{
        grid-row: 2/3;
        grid-column: 1/2;
        border-radius:10px 10px 0 0; 
    }

    .side_menu_check{
        top:12px;
        left:15px;
        height:35px;
        width:35px;
    }
    .side_menu_check:checked{
        left:15px;
    }
    .side_menu_check:checked ~.side_menu_control{
        left:15px;
    }
    .side_menu_check:checked ~ #side_menu{
        width: 100vw;
        .break{
            p{
                width:50vw;
            }
        }
        .side_menu_buttons{
            width:60vw;
            height:50vh;
            top:25vh;
            left:20vw;
            label{
                span{
                    grid-template-columns:16vw auto;
                }
            }
        }
    }
    .side_menu_control{
        top:12px;
        left:15px;
        height:35px;
        width:35px;
        .stack_menu{
            height:30px;
            width:30px;
            .stack_menu_icon{
                width:30px;
                height:30px;
                position: relative;
                top:8px;
                p{
                    width:30px;
                }
            }
        }
    }

    #side_menu{
        grid-row:1/3;
        grid-column:1/2;
        display:none;
        width:100vw;
        height:100vh;
        position:absolute;
        left:0;
        .side_menu_buttons{
            label{
                height:20%;
                input{
                    height:11vw;
                    width:11vw;
                }
                span{
                    svg{
                        width:4.3vw;
                    }
                    p{
                        font-size:2.6vh;
                    }
                }
            }
        }
        .br_bot{
            display:none;
        }
        .logo{
            height:20vw;
            img{
                height:12vw;
                width:12vw;
            }
            p{
                padding-top:1vw;
                font-size:2vh;
                font-weight:500;
            }
        }
    
    }

    #nav_menu{
        grid-row: 1/2;
        grid-column: 1/2;
        border-radius:0 0 10px 10px;
        .selected_menu_cont{
            margin-left:auto;
            margin-right:10vw;
        }
        .log{
            width:18vw;
            display:grid;
            place-items: center;
            margin-left:22vw;
            margin-right:0;
            .login-reg{
                padding:1vh 1.4vh;
                p{
                    font-size:1.6vh;
                }
            }
        }
        .theme_cont{
            margin-left:2vw;
            height: 100%;
            width:10vw;
            .theme{ 
                height:5vw;
                width:5vw;
                input{
                    height:5vw;
                    width:5vw;
                }
                span{
                    top:0.4vw;
                    left:0.4vw;
                    svg{
                        width:3.8vw;
                    }
                    &.to_light{
                        top:0;
                        left:0;
                        svg{
                            width:4.6vw;
                        }
                    }
                }
            }
        }
    }
    
    #dashboard{
        grid-template:1fr 1fr 1fr 350px 1px/ 1fr;
        gap:10px;
        overflow-y:scroll;
        place-items: center;
        &::-webkit-scrollbar{
            display:none;
        }
        .tot_doses{
            grid-row:1/2;
        }
        .tot_sites{
            grid-row:2/3;
        }
        .tot_regis{
            grid-row:3/4;
        }
        .dash_chart{
            grid-row:4/5;
            grid-column:1/2;
        }
        .dash_card{
            width:98%;
            grid-column:1/2;
            img{
                left:-25%;
            }
            .dash_card_text{
                width:78%;
                right:0;
            }
        }
        .extra{
            grid-column:1/2;
            grid-row:5/6;
            height:1px;
            width:90%;
        }
    }

    #account,#downloads,#alerts{
        .logged_out{
            .pls_log_in{
                gap:8vh;
                text-align:center;
                .lock_cont{
                    height:25vw;
                    width:25vw;
                    svg{
                        width:12vw;
                    }
                }
            }
        }
    
    }
    
    #about{
        gap:2vh;
        .about-cont{
            width:50vw;
            .title{
                font-size:5vh;
            }
        } 
    }
}