/* Navigation  */
#navbar{
    flex-direction: column;
}

#navbar ul li a{
    font-size: 1rem;
    padding: 0px 7px;
}

/* Home Section */
#home{
    height: 370px;
    padding: 0px 0px;
   
    
}
#home::before{
    height: 686px;
    

}
#home p{
    font-size: 13px;
}

/* services Section */
#services{
    flex-direction: column;
}
#services .box{
    padding: 14px ;
    margin: 2px 0px;
    margin-bottom: 20px;
}
/* Client Section */
#clients{
    flex-wrap: wrap;
}
#clients img{
    width: 118px;
    height: auto;
   
}


/* Contact Us Section */

/* Footer */


/* Utility classes */

.h-primary{
    font-size: 26px;
}
.btn{
    font-size: 13px;
    padding:4px 8px;
}